################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/OnlineShop/.vs/OnlineShop
/OnlineShop/OnlineShop/obj
/OnlineShop/OnlineShop/bin/Debug/net8.0
